*.java linguist-detectable=true
*.ts linguist-detectable=true
*.js linguist-detectable=true
*.sql linguist-detectable=true

*.css linguist-documentation=true
*.html linguist-documentation=true
*.scss linguist-documentation=true

node_modules/** linguist-vendored
angular/node_modules/** linguist-vendored
angular/dist/** linguist-vendored
angular/.angular/** linguist-vendored
target/** linguist-vendored
.mvn/** linguist-vendored
*.min.js linguist-vendored
*.min.css linguist-vendored

package-lock.json linguist-generated
angular/package-lock.json linguist-generated
*.map linguist-generated